* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#board {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 82vh;
    margin-left: 16vw;
    margin-right: 1vw;
    background-color: rgb(184,111,82);
}

.row {
    display: flex;
}

.square {
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
    user-select: none;
}

.blackPiece {
    color: black;
    font-weight: 700;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitePiece {
    color: white;
    text-shadow: 1px 1px black, -1px -1px black;
    font-weight: 700;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    height: 82vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.5rem;
}