* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
}

#game {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 17vw;
    margin-right: 9vw;
    height: 100vh;
    font-size: 1.5rem;
    color: rgba(255,255,255,0.7);
}

#board {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80vh;
    background-color: rgb(184,111,82);
}

.row {
    display: flex;
}

.square {
    width: 10vh;
    height: 10vh;
    user-select: none;
}

.blackPiece {
    color: black;
    font-weight: 700;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitePiece {
    color: white;
    font-weight: 700;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameInformation {
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#score {
    color: rgba(255,255,255,0.7);
    padding-bottom: 5vh;
}

#reset {
    width: 8vw;
    background-color: rgb(184,111,82);
    padding: 1.5vh;
    border-radius: 8px;
    font-weight: 700;
    border: none;
}